*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    position: relative;
    width: 100%;
    text-align: center;
}

.logo{
    position: absolute;
    height: 40%;
    margin-left: 1%;
    margin-top: 1.8%;
}

.textone{
    font-weight: lighter;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin-left: 140px;
    font-size: 15px;
}

.textwo{
    font-weight: lighter;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin-left: 270px;
    font-size: 15px;
}

.textthree h6{
    font-weight: lighter;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin-left: 20px;
    font-size: 15px;
}

.iconone{
    margin-left: 1%;
    margin-top: 3%;
}

.buttonone{
    margin-left: 15%;
    margin-right: 50%;
    margin-top: 15%;
    margin-bottom: 25%;
    border-radius: 50px;
    width: 270%;
    height: 60%;
    text-align: left;
    padding-left: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    border: thin solid #9194AC;
    background: transparent;
}

.buttontwo{
    padding-top: 26.8%;
    padding-bottom: 26.8%;
    margin-top: 63%;
    margin-left: 50%;
    width: 200%;
    color: #6D28D2;
    border: thin solid #6D28D2;
    border-radius: 9%;
    background: transparent;
    font-weight: bolder;
}

.buttonthree{
    padding-top: 25%;
    padding-bottom: 23%;
    margin-top: 50%;
    margin-left: 140%;
    width: 160%;
    border-radius: 9%;
    color: white;
    background-color: #892DE1;
    font-weight: bolder;
}

.buttonfour{
    padding-top: 25%;
    padding-bottom: 25%;
    margin-top: 175%;
    margin-left: 740%;
    width: 250%;
    height: 40%;
    border-radius: 9%;
    border: thin solid #6D28D2;
    background: transparent;
}

.sectione{
    background-image: url(https://s.udemycdn.com/teaching/billboard-desktop-v4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.sectionet{
    width: 50%;
    padding-top: 11%;
    padding-left: 5%;
    padding-bottom: 14%;
}

.sectionet h1{
    font-size: 3.5rem;
    width: 71%;
    margin-bottom: 0%;
}

.sectionet p{
    font-size: larger;
    width: 57%;
    margin-top: 1%;
    line-height: 1.4;
}

.sectionet button{
    background-color: #6D28D2;
    width: 56%;
    color: white;
    padding-top: 2.1%;
    padding-bottom: 2.1%;
    border-radius: 4px;
}

.so{
    text-align: center;
    font-size: 3rem;
    margin-top: 7%;
}

/* section two */
.sectiontwo{
    width: 100%;
    display: flex;
    gap: 4%;
}

.teach{
    width: 30%;
    text-align: center;
}

.teach img{
    width: 30%;
}

.teach p{
    font-size: larger;
}

.inspire{
    width: 31%;
    text-align: center;
}

.inspire img{
    width: 30%;
}

.inspire p{
    font-size: larger;
}

.get{
    width: 30%;
    text-align: center;
}

.get img{
    width: 30%;
}

.get p{
    font-size: larger;
}

/* sectionthree */
.sectionthree{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 6%;
    background-color: #5022C3;
}

.list h1{
    margin-bottom: 0%;
    font-size: 3rem;
}

.list p{
    margin-top: 0%;
    font-size: larger;
}

.how{
    font-size: 3rem;
    text-align: center;
    margin-top: 7%;
}

.sectionfour{
    display: flex;
    font-size: x-large;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

.dline{
    text-align: center;
    margin-top: -2.5%;
}

.dline span{
    font-weight: bolder;
}

.you{
    display: flex;
    width: 100%;
}

.youone{
    width: 50%;
}

.youtwo{
    width: 50%;
}

.youtwo img{
    width: 80%;
}

.youtext{
    font-size: larger;
    width: 87%;
    padding-left: 25%;
    line-height: 1.4;
    padding-top: 12%;
}

.youtexttwo{
    font-size: larger;
    width: 90%;
    padding-left: 25%;
    line-height: 1.4;
    margin-top: -1%;
}

.youtextthree{
    font-size: larger;
    padding-left: 25%;
    margin-top: 4%;
}

.youtextfour{
    font-size: larger;
    width: 90%;
    padding-left: 25%;
    line-height: 1.4;
}

/* secrion five */
.sectionfive{
    display: flex;
    width: 100%;
    gap: 1%;
    background-color: #F6F7F9;
    margin-top: 5%;
}

.sectionfivep{
    width: 50%;
}

.sectionfivep img{
    width: 63%;
    margin-left: 35%;
    display: block;
}

.sectionfivet{
    width: 50%;
}

.sectionfivetone{
    font-size: 1.7em;
    width: 70%;
    margin-bottom: 0%;
    margin-top: 13%;
}

.sectionfivettwo{
    margin-bottom: 0%;
}

.sectionfivetthree{
    margin-top: 1%;
    font-size: large;
}

/* sectionsix */
.sectionsix{
    width: 100%;
    overflow: hidden;
    display: flex;
    margin-top: 15%;
}

.myimgone{
    width: 30%;
}

.myimgone img{
    width: 115%;
    margin-left: -39.6%;
}

.sectionsixt{
    width: 56%;
}

.sectionsixt h1{
    font-size: 3rem;
    margin-top: 12%;
}

.sectionsixtpone{
    font-size: larger;
    width: 99%;
    text-align: center;
}

.sectionsixtptwo{
    text-align: center;
    color: #6D28D2;
    text-decoration: underline;
    font-weight: bolder;
}

.myimgtwo{
    width: 30%;
}

.myimgtwo img{
    width: 115%;
    margin-left: 24.9%;
}

/* section seven */
.sectionseven{
    border: thin solid #F6F7F9;
    background-color: #F6F7F9;
    width: 100%;
    text-align: center;
    margin-top: 13%;
}

.sectionseven h1{
    font-size: 3rem;
    margin-top: 7%;
    margin-bottom: 0%;
}

.sectionseven p{
    font-size: 1.7rem;
    margin-top: 1%;
    width: 52%;
    margin-left: 24%;
}

.sectionseven button{
    background-color: #6D28D2;
    width: 28%;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 4px;
}

.footer{
    margin-top: 7%;
}
/* one */
.footerone{
    border-top: thin solid #B7B9CD;
    border-bottom: thin solid #B7B9CD;
    background-color: #2A2B3F;
    display: flex;
    text-align: center;
    gap: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.footeronet{
    width: 50%;
    color: white;
}

.footeronet p{
    font-size: larger;
}

.footeronet p span{
    color: #5F96F0;
}

.footeronepic{
    width: 50%;
    display: flex;
    gap: 2%;
}

/* two */
.footertwo{
    border: thin solid #2A2B3F;
    background-color: #2A2B3F;
}

.anp{
    font-size: larger;
    color: white;
    text-align: left;
    padding-left: 1%;
    margin-top: 3%;
}

.dgrid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: white;
    padding-left: 1%;
}

.pdifferent{
    font-size: large;
}

/* three */
.footerthree{
    background-color: #202230;
    color: white;
    display: flex;
    padding-left: 1%;
}

.doneone{
    margin-right: 19.4%;
}

.donetwo{
    margin-right: 14.9%;
}

.donethree{
    margin-right: 12.5%;
}

/* four */
.footerfour{
    border-top: thin solid #B7B9CD;
    background-color: #202230;
    color: white;
    display: flex;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.footerfour img {
    width: 7%;
    margin-right: 1.4%;
}

.almostone{
    margin-right: 32%;
}

.almosttwo{
    margin-right: 34%;
}


/* ============================================
   RESPONSIVE MEDIA QUERIES
   ============================================ */

/* Large tablets and small desktops (900px - 1200px) */
@media screen and (max-width: 1200px) {
    .textone{
        margin-left: 120px;
    }
    
    .textwo{
        margin-left: 200px;
    }
    
    .sectionet h1{
        font-size: 3rem;
    }
    
    .so{
        font-size: 2.5rem;
    }
}

/* Tablets (768px - 900px) */
@media screen and (max-width: 900px) {
    /* Header adjustments for smaller screens */
    .textone{
        margin-left: 100px;
        font-size: 14px;
    }
    
    .textwo{
        margin-left: 150px;
        font-size: 14px;
    }
    
    .textthree h6{
        font-size: 14px;
        margin-left: 15px;
    }
    
    .buttonone{
        width: 200%;
        margin-left: 10%;
    }
    
    .buttontwo{
        width: 180%;
        margin-left: 30%;
    }
    
    .buttonthree{
        width: 140%;
        margin-left: 100%;
    }
    
    .buttonfour{
        margin-left: 500%;
        width: 200%;
    }
    
    /* Hero section */
    .sectionet{
        width: 70%;
        padding-top: 8%;
        padding-bottom: 10%;
    }
    
    .sectionet h1{
        font-size: 2.5rem;
        width: 85%;
    }
    
    .sectionet p{
        width: 75%;
    }
    
    .sectionet button{
        width: 70%;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    
    /* Section two */
    .so{
        font-size: 2.2rem;
    }
    
    .sectiontwo{
        flex-direction: column;
        align-items: center;
        padding: 0 5%;
    }
    
    .teach, .inspire, .get{
        width: 70%;
        margin-bottom: 30px;
    }
    
    .teach img, .inspire img, .get img{
        width: 40%;
    }
    
    /* Stats section */
    .sectionthree{
        flex-wrap: wrap;
        gap: 5%;
        padding: 30px 20px;
    }
    
    .list{
        width: 45%;
        margin-bottom: 20px;
    }
    
    .list h1{
        font-size: 2.5rem;
    }
    
    /* How to begin */
    .how{
        font-size: 2.2rem;
    }
    
    .sectionfour{
        flex-direction: column;
        gap: 15px;
    }
    
    .dline{
        display: none;
    }
    
    /* You section */
    .you{
        flex-direction: column;
    }
    
    .youone, .youtwo{
        width: 100%;
    }
    
    .youtext, .youtexttwo, .youtextthree, .youtextfour{
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
    }
    
    .youtext{
        padding-top: 5%;
    }
    
    .youtwo img{
        width: 100%;
        padding: 20px;
    }
    
    /* Testimonial section */
    .sectionfive{
        flex-direction: column;
        padding: 30px 20px;
    }
    
    .sectionfivep, .sectionfivet{
        width: 100%;
    }
    
    .sectionfivep img{
        width: 50%;
        margin: 0 auto;
    }
    
    .sectionfivetone{
        width: 90%;
        margin: 30px auto;
        font-size: 1.4em;
    }
    
    /* Support section */
    .sectionsix{
        flex-direction: column;
        margin-top: 8%;
    }
    
    .myimgone, .myimgtwo{
        display: none;
    }
    
    .sectionsixt{
        width: 100%;
        padding: 0 5%;
    }
    
    .sectionsixt h1{
        font-size: 2.2rem;
        margin-top: 5%;
    }
    
    .sectionsixtpone{
        width: 100%;
    }
    
    /* Final CTA */
    .sectionseven h1{
        font-size: 2.2rem;
    }
    
    .sectionseven p{
        width: 70%;
        margin-left: 15%;
        font-size: 1.4rem;
    }
    
    .sectionseven button{
        width: 40%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    /* Footer adjustments */
    .dgrid{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    
    .footerone{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .footeronet{
        width: 100%;
        margin-bottom: 20px;
    }
    
    .footeronepic{
        width: 100%;
        justify-content: center;
    }
}

/* Mobile devices (below 768px) */
@media screen and (max-width: 768px) {
    /* Hide some header elements on mobile */
    .textone, .textwo, .textthree, .buttonone, .buttonfour{
        display: none;
    }
    
    .header{
        justify-content: space-between;
        padding: 10px;
    }
    
    .logo{
        position: static;
        margin: 0;
        height: 35px;
    }
    
    .iconone{
        margin-left: auto;
        margin-top: 0;
        order: 3;
    }
    
    .buttontwo{
        margin: 0 5px;
        padding: 8px 15px;
        width: auto;
        order: 4;
    }
    
    .buttonthree{
        margin: 0 5px;
        padding: 8px 15px;
        width: auto;
        order: 5;
    }
    
    /* Hero section mobile */
    .sectionet{
        width: 100%;
        padding: 10% 5%;
    }
    
    .sectionet h1{
        font-size: 2rem;
        width: 100%;
    }
    
    .sectionet p{
        width: 100%;
        font-size: medium;
    }
    
    .sectionet button{
        width: 100%;
        padding: 12px;
    }
    
    /* Section two mobile */
    .so{
        font-size: 1.8rem;
        padding: 0 20px;
    }
    
    .teach, .inspire, .get{
        width: 90%;
    }
    
    .teach img, .inspire img, .get img{
        width: 50%;
    }
    
    /* Stats section mobile */
    .sectionthree{
        flex-direction: column;
        gap: 20px;
    }
    
    .list{
        width: 100%;
    }
    
    .list h1{
        font-size: 2rem;
    }
    
    /* How to begin mobile */
    .how{
        font-size: 1.8rem;
        padding: 0 20px;
    }
    
    .sectionfour{
        font-size: large;
        padding: 0 20px;
    }
    
    /* You section mobile */
    .youtext, .youtexttwo, .youtextthree, .youtextfour{
        padding-left: 5%;
        padding-right: 5%;
        font-size: medium;
    }
    
    /* Testimonial mobile */
    .sectionfivep img{
        width: 70%;
    }
    
    .sectionfivetone{
        width: 100%;
        font-size: 1.2em;
        margin-top: 5%;
        padding: 0 20px;
    }
    
    .sectionfivettwo, .sectionfivetthree{
        padding: 0 20px;
    }
    
    /* Support section mobile */
    .sectionsixt h1{
        font-size: 1.8rem;
        padding: 0 20px;
    }
    
    .sectionsixtpone{
        font-size: medium;
        padding: 0 20px;
    }
    
    .sectionsixtptwo{
        padding: 0 20px;
    }
    
    /* Final CTA mobile */
    .sectionseven h1{
        font-size: 1.8rem;
        padding: 0 20px;
    }
    
    .sectionseven p{
        width: 90%;
        margin-left: 5%;
        font-size: 1.2rem;
    }
    
    .sectionseven button{
        width: 60%;
        padding: 12px;
        margin-bottom: 30px;
    }
    
    /* Footer mobile layout */
    .dgrid{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 20px;
    }
    
    .footerthree{
        flex-direction: column;
        padding: 30px 20px;
    }
    
    .doneone, .donetwo, .donethree, .donefour{
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .footerfour{
        flex-wrap: wrap;
        padding: 20px;
    }
    
    .footerfour img{
        width: 15%;
        min-width: 80px;
    }
    
    .almostone, .almosttwo{
        margin-right: 0;
        width: 100%;
        margin-top: 10px;
    }
}

/* Small mobile (below 480px) */
@media screen and (max-width: 480px) {
    .sectionet h1{
        font-size: 1.6rem;
    }
    
    .so{
        font-size: 1.5rem;
    }
    
    .teach img, .inspire img, .get img{
        width: 60%;
    }
    
    .list h1{
        font-size: 1.75rem;
    }
    
    .how{
        font-size: 1.5rem;
    }
    
    .sectionfour{
        font-size: medium;
    }
    
    .sectionfivep img{
        width: 80%;
    }
    
    .sectionfivetone{
        font-size: 1.1em;
    }
    
    .sectionsixt h1{
        font-size: 1.5rem;
    }
    
    .sectionseven h1{
        font-size: 1.5rem;
    }
    
    .sectionseven p{
        font-size: 1rem;
    }
    
    .sectionseven button{
        width: 70%;
    }
    
    .buttontwo, .buttonthree{
        font-size: 13px;
        padding: 6px 12px;
    }
    
    .dgrid{
        grid-template-columns: 1fr;
        gap: 25px;
    }
    
    .footeronepic{
        flex-wrap: wrap;
    }
    
    .footeronepic img{
        width: 40%;
        max-width: 100px;
    }
}

/* Very small screens (below 360px) */
@media screen and (max-width: 360px) {
    .logo{
        height: 30px;
    }
    
    .iconone{
        font-size: 18px;
    }
    
    .buttontwo, .buttonthree{
        font-size: 12px;
        padding: 5px 10px;
    }
    
    .sectionet h1{
        font-size: 1.4rem;
    }
    
    .so, .how{
        font-size: 1.3rem;
    }
    
    .sectionsixt h1, .sectionseven h1{
        font-size: 1.3rem;
    }
}